@font-face {
    font-family: "Poppins";
    src: url(../../fonts/Poppins-Regular.ttf);
  }
  
  @font-face {
    font-family: "Gilroy";
    src: url(../../fonts/Gilroy-FREE/Gilroy-SemiBold.ttf);
  }

  .Poppins{
    font-family: "Poppins";
  }
  
  .Gilroy{
    font-family: 'Gilroy';
  }

  .headerNav a{
    font-family: 'Poppins';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }


  .footerNav p{
    font-size: 12px;
    line-height: 10px; 
    font-weight: 400;
    font-family: "Poppins";
    opacity: 0.5;
    color: #FFFFFF;
  }
  
  
  .footerNav a{
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #FFFFFF;
  }


  